.card {
    padding: 8px;
    color: lightgray;
}

.menu-item {
    margin-top: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.label {
    padding-top: 10px;
}

.btn {
    width: 100%;
}