.card {
    width: 98%;
    height: 98%;
    margin: 1%;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.tab-group {
    height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
}