<div class="outer-container" *ngIf="state.lenseSpecificData?.externalUrlQr">
    <div class="inner-container">
        <img alt="QR Code to import exercises" [src]="state.lenseSpecificData.externalUrlQr" />
    </div>
    <div class="inner-container">
        Scan the QR code above with the <a href="https://play.google.com/store/apps/details?id=be.ac.vub.wise.jsStudyBuddy" target="_blank" style="margin-left: 2px;margin-right: 2px;"> JS StudyBuddy  </a>  application to import the exercises.
    </div>
</div>