.question-card {
    width: 100%;
    width: 96%;
    margin-left: auto;
    padding-left: 4px;
    margin-right: auto;
    padding-right: 4px;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #12121233;
    border-radius: 8px;
}
.correct {
    border: 1px solid green;
    color: green;
}
.wrong {
    border: 1px solid red;
    color: red;
}
.options {
    display: flex;
    flex-direction: column;
}

.answer-info {
    padding-left: 42px;
}

.editor {
    height: 200px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}