.question-card {
    width: 100%;
    width: 96%;
    margin-left: auto;
    padding-left: 4px;
    margin-right: auto;
    padding-right: 4px;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #12121233;
    border-radius: 8px;
}
.options {
    display: flex;
    flex-direction: column;
}