.container {
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 4px;
    background-color: #CCCCCC88;
    border-radius: 8px;
}

.txt-question {
    margin-bottom: 4px;
    width: 100%;
}

.add-answer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.answers-container {
    margin-top: 6px;
    width: 100%;
}
.answer-item {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.txt-new-answer, .btn-add-answer {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: large;
}
.editor {
    height: 200px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.answer-text, .txt-answer {
    width: 60%;
}
.correct-text {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.action-text {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}