<div class="container" *ngIf="state.studyTour">
    <div class="inner-container">
        <mat-card class="card">

            <mat-form-field class="example-form-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" [(ngModel)]="state.studyTour.tourName">
            </mat-form-field>

            <mat-form-field class="description">
                <mat-label>Description</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" class="description" matInput placeholder="" [(ngModel)]="state.studyTour.description"></textarea>
            </mat-form-field>

            <h1>Exercises</h1>
            <div cdkDropList (cdkDropListDropped)="drop($event)" class="exercises-container">
                <mat-card cdkDrag class="card" *ngFor="let ex of state.studyTour.exercises">
                    <div class="card-content">
                        <div class="line">
                            {{ex.file}}
                        </div>

                        <div class="line">
                            <mat-form-field appearance="fill">
                                <mat-label>Lens</mat-label><br/>
                                <mat-select [(ngModel)]="ex.lens">
                                  <mat-option *ngFor="let option of lenseOptions" [value]="option">
                                    {{ option }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
    
                              <mat-icon (click)="removeExercise(ex)" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon> 
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="btn-line">
                <button (click)="addExercise()" mat-raised-button color="primary">Add exercise</button>
            </div>

            <button (click)="save()"  class="btn-save" mat-raised-button color="primary">Save tour</button>
        </mat-card>

        
    </div>
</div>