.card {
    width: 100%;
    height: 100%;
}

.container {
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-button {
    width: 100%;
    font-size: x-small;
    height: 24px;
    margin-bottom: 2px;
}



input {
    height: 15px;
}

.radio {
    width: 16px;
}
.selected-col {
    width: 12px;
}
.txt-line {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}
.select-field {
    width: 100%;
}

.txt-name {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}
.txt-value {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}
.grid {
    width: 100%;
}
tr {
    width: 100%;
    margin: 0px;
}
th, td {
    text-align: center;
    padding: 0px;
}
.radio {
    width: 45px;
    min-width: 45px;
    max-width: 45px;
}