<app-session-progress-bar *ngIf="state.isTour" class="progress-bar"></app-session-progress-bar>
<div class="lens-container">

    <app-edit-study-tour class="lense" *ngIf="state.currentLense === 'EditStudyTour'"></app-edit-study-tour>
    <app-tour-overview class="lense" *ngIf="state.currentLense === 'TourOverview'"></app-tour-overview>

    <!-- this is very ugly, would love to put all lenses in seperate moduels with chicld routes but apparantly vscode doesn't support routing-->
    <app-loading-screen class="lense" *ngIf="state.currentLense === 'Loading'"></app-loading-screen>
    <app-annotate class="lense" *ngIf="state.currentLense === 'Annotate'"></app-annotate>
    <app-presentation class="lense" *ngIf="state.currentLense === 'Presentation'"></app-presentation>
    <app-flow-chart-lens class="lense" *ngIf="state.currentLense === 'Flowchart'"></app-flow-chart-lens>
    <app-pickflow-chart-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'PickFlowchart'"></app-pickflow-chart-lens>
    <app-parsons-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'Parsons'"></app-parsons-lens>
    <app-pseudo-lense [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'Pseudify'"></app-pseudo-lense>
    <app-comment-slot-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'CommentSlots'"></app-comment-slot-lens>
    <app-argument-picker-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'ArgumentPicker'"></app-argument-picker-lens>
    <app-blanks-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'Blanks'"></app-blanks-lens>
    <app-trace-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'Trace'"></app-trace-lens>
    <app-stack-lens [code]="state.sourceCode" class="lense" *ngIf="state.currentLense === 'Stack'"></app-stack-lens>
</div>

