.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.action-button {
    width: 100%;
    margin-bottom: 16px;
}

.add-line-button {
    padding: 4px;
}

.add-line-container {
    display: flex;
    justify-content: flex-end;
}

.export-button {
    font-size: 32px;
    margin-top: 12px;
    margin-right: 12px;
}