<div class="container">
    <div class="btn-container">
        <button class="btn" (click)="trace()" mat-raised-button color="primary">Trace</button>
    </div>
    <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

    <mat-card *ngIf="traceState.variableEvents.length > 0" class="card">
        <mat-card-title>
            <div class="title-line">
                <div>Trace Table</div>
                <mat-icon (click)="closeTraceTable()" class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="close"></mat-icon>
            </div>
        </mat-card-title>
        <mat-card-content class="card-content">
            <table>
                <tr>
                  <th class="small-cell">Line</th>
                  <th class="small-cell">Col</th>
                  <th class="event-cell">Event</th>
                  <th>Variable</th>
                  <th>Value</th>
                </tr>
                <tr *ngFor="let e of traceState.variableEvents">
                  <td>{{ e.line }}</td>
                  <td>{{ e.col }}</td>
                  <td>{{ e.eventType }}</td>
                  <td>{{ e.varName }}</td>
                  <td>{{ e.value }}</td>
                </tr>
              </table>
        </mat-card-content>
    </mat-card>
</div>
