<div [className]="'question-card ' + correctionResultClass">
    <div class="question"> {{ question.question }} </div>
    <mat-radio-group [disabled]="showCorrection"
  aria-labelledby="options"
  class="options"
  [(ngModel)]="selectedOption">
  <ng-container *ngFor="let option of question.options">
    <mat-radio-button class="radio-button"  [value]="option">
        {{option.answer}}
    </mat-radio-button>
    <div class="answer-info" 
        *ngIf="showCorrection && (selectedOption === option)">
        {{ option.info }}
    </div>
  </ng-container>
</mat-radio-group>
</div>
